.msgsuccess {
    border: 2px solid green;
    background: rgb(107, 222, 107);
	padding: 1%;
	margin-bottom: 0.5%;
    font-size: 26px;}


/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.inf{
	font-size:inherit;font-weight: 400;
}

body{
	background: #F9F0DA;
	/* background-image: url('../images/4907157.jpg'); */
}

.middle{
}

.wrapper {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 20px;
	width: 60%;
	height: 100%;
	min-width: 700px;
	margin: 0 auto;
	display: table;

}
.content h2{
	padding: 0 60px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;

}
.header_block {	
	padding: 10px;
}
.wrp1 {
	position: relative;
	width: 300px;
	margin: 0 auto;
}
.search {
	width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}

.button_search{
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.button_search::before{
  content: url('../images/icon/icons8-search-30.png');
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}



.container{
	min-height: 1000px;
	height: 100%;
	border: 5px solid #000;
	padding: 10px;
    border-radius: 1%;
}
.container{
	background: #e7dabb; /* фон содержимого*/
}

.content {
	background: rgb(255, 255, 255);
	margin: 0 0 0 200px;
	border: 5px solid #000;
	padding: 10px;
    box-shadow: 3px 2px 1px #000;
	height: 100%;
	min-height: 1000px;

}
.post {
	display: block;
	padding: 10px; 
	border: 5px solid rgb(0, 0, 0);
	margin-bottom: 10px;
}
.a_post {
}
.content1 {
}




.sidebar_block{
    float: left;
    width: 190px;
	
}

.link_prof{
    width: 190px;
}

.i{
    width: 100px;
	height: 100px;
    border-radius: 50%;
    box-shadow: 5px 1px 1px #000;
}

.sidebar_block_content{

}

.sidebar {
    box-shadow: 3px 2px 1px #000;
	background: #fff;
	float: left;
	width: 190px;
	border: 3px solid #666666;
    margin: 0 0 10px 0;
}

.sidebar h2{
	padding: 0 60px;
	font-size: 20px;
	font-weight: 600;
}

.sidebar ul{
	font-size: 16px;
	padding: 5px 10px 10px 10px;
}

.sidebar ul li{
	font-size: 16px;
	line-height: 25px;
}






.block_footer {
	margin-top: 10px;
	display: table-row;
}
.footer {
	background-color: rgb(123, 123, 123);
	color: rgb(255, 255, 255);
	padding: 10px;
	height: 100%;
}