/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    background: #F9F0DA;
}

h2{
    font-style: italic;
}

.wrapper {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 20px;
	width: 60%;
	height: 100%;
	min-width: 700px;
	margin: 0 auto;
	display: table;
}

.main_content{
    width: 770px; 
    margin: 20% auto;
	min-height: 500px;
	border: 5px solid #000;
	padding: 10px;
    border-radius: 1%;

}

.content{
    background: rgb(255, 255, 255);
	margin: 0 0 0 200px;
	border: 5px solid #000;
	padding: 10px;
    box-shadow: 3px 2px 1px #000;
	height: 100%;
    min-height: 159px;
}

.link_prof{
    padding: 60px 0 0 0;
    text-align: center;
}
.i{
    width: 100px;
	height: 100px;
    border-radius: 50%;
}

.sidebar_block_content{
}

.sidebar {
    height: 10%;
    box-shadow: 3px 2px 1px #000;
	background: #fff;
	float: left;
	width: 190px;
	border: 3px solid #666666;
    margin: 0 0 10px 0;
    
}

.sidebar h2{
	padding: 20px;
	font-size: 25px;
	font-weight: 600;
}

.sidebar ul{
	font-size: 16px;
	padding: 5px 10px 10px 10px;
}

.aaa{
    padding: 30px 0 0 0;
    text-align: center;
	font-size: 26px;
	line-height: 25px;
}

.link_img{
    color: #000;
}

.link_img :visited{
    color: #000;
}

.return_link_block {
}
.return_link {
    border: 1px solid #000;
}
.field_author_block {
    padding: 0 0 10px 0;
}
.field_title_block {
    padding: 0 0 5px 0;
}
.field_content_block {
}

.h2_stat{
    font-size: 25px;
    padding: 7px 0 20px 0;
    font-weight: bold;
}

.subm {
    display: inline-block;
    background-color: #d9bc96;
    padding: 20px;
    width: 200px;
    color: #ffffff;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    margin: 5px;
}

.span_button{
    padding: 0 150px;
    border-radius: 10%;
}

.subm:hover{
    background: rgb(130, 53, 53);
}


textarea{
    border: 1px solid #000;
    resize: none;

}

.author_field{
    border: 1px solid #000;
    width: 500px;
    height: 50px;
    font-size: 26px;
    background: #ffffff;
    color: #9E9C9C;
}

.title_fild{
    width: 500px;
    height: 50px;
    background: #ffffff;
    color: #9E9C9C;
    font-size: 24px;
    line-height: 1.4;
}

.content_fild{
    width: 500px;
    min-height: 180px;
    height: 100%;
    background: #ffffff;
    color: #9E9C9C;
    font-size: 24px;
    line-height: 1.4;
    resize: vertical;
}



.content_block{
}

.messeg_block{
    background: rgb(0, 255, 13);
    height: 70px;
    border: 5px dotted #000;
    padding: 20px;
    text-align: center;
}

.msgsuccess{

    font-size: 36px;
}