<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <link href="../static/css/style_del.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="background">
            <img width="220px" height="150px" src="../static/images/галка.png">
            <p class="message">Пост удалён</p>
        </div>
        <form action="/" method="GET">
            <input class="return" align="center" type="submit" value="продолжить">
        </form>
    </body>
</html>