<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link href="../static/css/style_index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="main">
            <a class="mi" href="/">Главная</a>
            <a class="mi" href="/add_post">Добавить статью</a>
            <a href="/profile"><img class="i" src="../static/images/default.png"></a>
        </div>

        {% for elem in menu%}
        <div class="post" stye="background-color: #fc3; border: 2px solid grey;" >
            <a  style="font-size: 26px; font-family: 'Segoe UI'" href="{{elem['id']}}">
            {{elem["title"].replace("0b100111", "'").replace("0b100010", '"')}}</a>
            <!-- <td class="picture">
                <img width="110px"  class="round" src="../static/images/default.png">
            </td> -->
            <p class="content">
            {% autoescape false%}
            {{elem["content"][:50].replace("0b100111", "'").replace("0b100010", '"')}}...   
            {% endautoescape %}
            </p>
        </div>
        {% endfor %}

    </body>
</html>