<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Post №{{id}}</title>
        <link href="../static/css/style_content.css" rel="stylesheet" type="text/css">
    </head>
    <body >
        <div class="wrapper">
            <div class="main_content">
                <div class="sidebar_block">    
                    <div class="sidebar">
                        <div class="sidebar_block_content">
                        <h2>Меню</h2>
                        <ul>
                            <li class="aaa"><a href="/">Главная</a></li>
                            <li>
                                <div class="link_prof"><a class="link_img" href="/profile"><img class="i" src="{{url_for('userAva', showIm=False)}}" alt="упс картинки нет"><p clas="userName">Пользователь <b>{{UserName}}</b></p></a>
                                </div>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                <div class="content">
                    <header class="header">
                        <div class="author_block">
                           <img class="i2" src="{{url_for('userAva',  showIm=shI)}}" alt="упс картинки нет"> <span title="Автор статьи" > {{authour}}</span><br>
                        </div>
                    </header>
                    <div class="title_block">
                        {{title.replace("0b100111", "'").replace("0b100010", '"')}}
                    </div>
                    <div class="aticle_content_block">
                         {% autoescape False %}
                        <p class="article_content">
                            {{content.replace("0b100111", "'").replace("0b100010", '"')}}
                        </p>
                        {% endautoescape %}
                    </div>
                    <p class="inf">Просмотры</p>
                    <div class="con"> 
                        <p class="views">{{views}}</p>
                        <img class='icon' src="static\images\icon\глаз.png">
                        <p class="date">Дата публикации {{dataP}}</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
